#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
     &none     &kp N1    &kp N2    &kp N3     &kp N4  &kp N5     &none                                                                                &none  &kp N6  &kp N7     &kp N8    &kp N9    &kp N0          &none
   &kp ESC      &kp Q     &kp W     &kp F      &kp P   &kp B     &none                                                                                &none   &kp J   &kp L      &kp U     &kp Y   &kp SQT        &kp ESC
&kp DELETE      &kp A     &kp R     &kp S      &kp T   &kp G  &kp HOME  &kp LEFT_SHIFT  &kp LEFT_CONTROL      &kp RIGHT_CONTROL  &kp RIGHT_SHIFT    &kp END   &kp M   &kp N      &kp E     &kp I     &kp O  &kp BACKSPACE
   &kp TAB      &kp Z     &kp X     &kp C      &kp D   &kp V                                &kp LEFT_ALT          &kp RIGHT_ALT                               &kp K   &kp H  &kp COMMA   &kp DOT  &kp FSLH        &kp RET
     &none  &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC         &kp DEL      &kp LEFT_GUI               &kp RGUI        &kp ENTER  &kp SPACE          &kp UP   &kp DOWN  &kp LBKT  &kp RBKT          &none
            >;
        };

        symbols {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6   &none                                       &none  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans   &none                                       &none  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans   &none  &trans  &trans      &trans  &trans   &none  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans   &trans   &trans   &trans
            >;
        };

        arrows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans          &trans          &trans        &trans           &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans          &trans          &trans        &trans           &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                          &trans          &trans        &trans           &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans                          &trans        &trans           &trans  &trans  &trans
            >;
        };
    };
};
